*, *::after, *::before {
    box-sizing: border-box;
    font-family: "Gill Sans", sans-serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background:  #23a303;
}

.Calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(100px, auto) repeat(5, 100px);
}

.Calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
}

.equalsTo {
    border: 1px;
    color: white;
    background-color:rgba(0, 0, 255, .75);
}

.Calculator-grid > button:hover {
    background-color: rgba(255, 255, 255, .25);
}

/*
.span-two {
    grid-column: span 2;
}*/

.output {
    grid-column: 1 / -1;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    background-color: rgba(0,0,0,.75);
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand {
    color: rgba(255, 255, 255, .75);
}

.output .current-operand {
    color: white;
    font-size: 2.5rem;
}