*, *::after, *::before {
    box-sizing: border-box;
    font-family: "Gill Sans", sans-serif;
    font-weight: normal;
}
.header {
    padding: 8px;
    text-align: center;
    background: rgb(185, 184, 184);
    font-size: 25px;
}
  body {
    padding: 0;
    margin: 0;
    background: rgb(216, 214, 214);
}
.Text{
    text-align: center;
    justify-content: center;
    padding: 180px 100px;
    font-size: 20px;
}

.Text > button {
    display: inline-block;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    cursor: pointer;
    text-align: center;
    font-size: 35px;
    border-radius: 55%;
    background-color: rgba(255, 255, 255, .75);
    padding: 8px 18px;
    border:none;
    box-shadow: 0 5px #999;
}

.Text > button:hover {
    background-color: rgb(3, 165, 3);
}

.Text > button:active {
    background-color: rgb(3, 165, 3);
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}

.Button > button {
    position: absolute;
    bottom: 1rem;
    right: 6rem;
    border: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    font-size: 40px;
    border-radius: 55%;
    background-color: rgba(255, 255, 255, .75);
    padding: 6px 22px;
    box-shadow: 0 5px #999;
}

.Button button:hover {
    background-color: crimson;
}

.Button > button:active {
    background-color: crimson;
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}
